<h2><%= "Welcome to Blackjack, #{session[:user]}!" %><h2>
<div class="well">
	<% if session[:dealer_turn] %>
	<h3>Dealer's Cards: <%= session[:game].dealer.hand.total %><h3>
	<% else %>
	<h3>Dealer's Cards:<h3>
	<% end %>
	<% session[:game].dealer.hand.cards.each_with_index do |card, index| %>
		<% if index == 0 && !session[:dealer_turn] %>
			<img src="/images/cards/cover.jpg">
		<% else %>
			<img src="/images/cards/<%= card.suit.downcase %>_<%= card.value %>.jpg">
		<% end %>
	<% end %>
</div>
<div class="well">
	<h3>Your Cards: <%= session[:game].player.hand.total %><h3>
	<% session[:game].player.hand.cards.each do |card| %>
		<img src="/images/cards/<%= card.suit.downcase %>_<%= card.value %>.jpg">
	<% end %>
</div>
<% if !session[:game].player.is_busted? && !session[:dealer_turn] %>
	<a href="/hit"><button class="btn btn-warning btn-large hit-button">Hit</button></a>
	<a href="/stay"><button class="btn btn-primary btn-large stay-button">Stay</button></a>
<% elsif session[:game].player.hand.total == 21 && !session[:dealer_turn] %>
	<a href="/stay"><button class="btn btn-primary btn-large stay-button">Stay</button></a>
<% end %>